{% set article = Post(article) %}

<div class="article-card">
    <a class="article-card__link" href='{{article.link}}'>
    </a>
  <div class="article-card__header">
    {% if article.thumbnail %}
      <img class="article-card__image" src="{{ article.thumbnail.src('large') }}"  alt="">
    {% endif %}
  </div>
  <div class="article-card__body">
      <h3 class="article-card__title">{{ article.title }}</h3>
  </div>
  <div class="article-card__footer">
    <div class='article-card__footer-el'>
      <i class='article-card__icon icon-calendar'></i>
      <span>{{ article.post_modified|date("d.m.Y") }}</span>
    </div>
    <div class='article-card__footer-el'>
      <i class='article-card__icon icon-user-circle'></i>
      <span>
      {% set page_authors = article.meta('page_authors') %}
      {% for author in Post(page_authors) %}
      <a class='article-card__author' href="{{author.link}}"> {{ author.name }}</a>
      {% if loop.length > 1 and not loop.last %}
        ,
      {% endif %}
      {% endfor %}
      </span>
    </div>
  </div>
</div>
