
<casinos
  :shortcode-atts="{{ shortcode_atts|e }}"
  :q-args="{{q_args|e}}"
  pagination="{{pagination}}"
  get-sites-list="/wp-admin/admin-ajax.php?action=get_sites_list"
>
  <template v-open-tooltip>
    
    {% if show_thead %}
      <thead>
        <tr class="one-game__table-row">
          <td class="one-game__table-col one-game__table-col--w1">{{ __('Logo', 'casino') }}</td>
          <td class="one-game__table-col one-game__table-col--w2">{{ __('Online Casino', 'casino') }}</td>
          <td class="one-game__table-col one-game__table-col--w3">{{ __('Casino Bonus', 'casino') }}</td>
          <td class="one-game__table-col one-game__table-col--w3">{{ __('Features', 'casino') }}</td>
          <td class="one-game__table-col one-game__table-col--w3">{{ __('Safe Link', 'casino') }}</td>
        </tr>
      </thead>
    {% endif %}

    <tbody>
      {% for brand in sites_list.items %}
        {% include 'templates/parts/casino-item.twig' %}
      {% endfor %}
    </tbody>
  </template>
</casinos>