{% extends "templates/base.twig" %}

{% block content %}

<main class="main">
	<div class="block-wrapper md-pt-4 block-wrapper--bg-light-gray">
		<div class="container container--full-on-mobail md-tac">
			
			<div class="author-intro" style="background-color:{{ post.meta('header_color') }}">
				<div class="author-intro__text-container">
					<h1 class="author-intro__title">{{ fn('do_shortcode', post.meta('title')) }}</h1>
					<div class="author-intro__text pv-1 taj">{{ post.meta('about_author') }}</div>
					<div class="author-intro__socials author-socials">
						{% if post.meta('linkedin') %}
							<a href='{{post.meta('linkedin')}}' rel='nofollow' target='_blank' class='author-socials__item author-socials__item--linkedin'><i class='icon icon-linkedin'></i></a>
						{% endif %}
						{% if post.meta('twitter') %}
							<a href='{{post.meta('twitter')}}' rel='nofollow' target='_blank' class='author-socials__item author-socials__item--twitter'><i class='icon icon-twitter'></i></a>
						{% endif %}
						{% if post.meta('mail') %}
							<a href='mailto:{{post.meta('mail')}}' class='author-socials__item author-socials__item--mail'><i class='icon icon-mail'></i></a>
						{% endif %}
					</div>
				</div>
				{% if post.meta('photo') %}
					<div class="author-intro__photo-container">
						<img class="author-intro__photo" src="{{ Image(post.meta('photo')).src('large') }}"  alt="bg">
					</div>
				{% endif %}
			</div>
		</div>
		
		<div class="container">
			<div class="author-info mt-2">
				<div class="author-info__col author-info__col--one" style="background-color:{{ post.meta('first_column_color') }}">
					{% if post.meta('born') %}
						<div class="author-info__item">
							<span class="author-info__item-title">{{ __('Born','casino') ~ ':' }}</span>
							<p class="author-info__item-text">{{post.meta('born')}}</p>
						</div>
					{% endif %}
					{% if post.meta('education') %}
						<div class="author-info__item">
							<span class="author-info__item-title">{{ __('Education','casino') ~ ':' }}</span>
							<p class="author-info__item-text">{{post.meta('education')}}</p>
						</div>
					{% endif %}
					{% if post.meta('job') %}
						<div class="author-info__item">
							<span class="author-info__item-title">{{ __('Job','casino') ~ ':' }}</span>
							<p class="author-info__item-text">{{post.meta('job')}}</p>
						</div>
					{% endif %}
					{% if post.meta('favorite_thought') %}
						<div class="author-info__item">
							<span class="author-info__item-title">{{ __('Favourite Thought','casino') ~ ':' }}</span>
							<p class="author-info__item-text">{{post.meta('favorite_thought')}}</p>
						</div>
					{% endif %}
				</div>
				<div class="author-info__col author-info__col--two" style="background-color:{{ post.meta('second_column_color') }}">
					{% if post.meta('top_articles') %}
						<div class="author-info__item">
							<span class="author-info__item-title">{{ __('Top Articles','casino') ~ ':' }}</span>
							{% for item in post.meta('top_articles') %}
								<a class="author-info__item-text author-info__item-text--link" href="{{item.link}}">{{item.name}}</a>
							{% endfor %}
						</div>
					{% endif %}
				</div>
			</div>
		</div>

	</div>


	{% include '/templates/parts/additional-blocks.twig' %}

</main>

{% endblock %}