{% extends "templates/base.twig" %}

{% block content %}

<main class="main" itemscope itemtype="http://schema.org/BlogPosting" itemid="{{ fn('get_canonical_link') }}">
	<meta itemprop="description" content="{{ post.preview.end('...').read_more('') }}">
	<meta itemprop="url" content="{{ fn('get_canonical_link') }}">
	<link itemprop="publisher" href="#org">
	<meta itemprop="mainEntityOfPage" itemscope itemtype="http://schema.org/WebPage">
	<div class="block-wrapper block-wrapper--bg-light-gray pv-2">
		<div class="container">
			<meta itemprop="headline" content="{{ fn('do_shortcode', post.title) }}">
			<h1 class="h2 mb-2 tac" itemprop="name">{{ fn('do_shortcode', post.title) }}</h1>
			<div class="blog-content">
				{% if post.thumbnail %}
				<div class="blog-content__baner">
					<div class="img-wrap"><img itemprop="image" width="{{ post.meta('image_width') }}" height="{{ post.meta('image_height') }}" src="{{ post.thumbnail }}" alt="{{ post.thumbnail.alt }}">
					</div>
				</div>
				{% endif %}
					{% include '/templates/parts/page-info.twig' with {'additional_class': 'page-info--articles'} %}
				<div class="slide-container mt-1 taj" itemprop="articleBody">
					{{ post.content }}
				</div>
			</div>
		</div>
		{% include '/templates/parts/additional-blocks.twig' %}
	</div>
</main>

{% endblock %}