{% extends "templates/base.twig" %}

{% block content %}

<main class="main" itemscope itemtype="http://schema.org/WebPage" itemid="#page">
	<link itemprop="publisher" href="#org">
	<meta itemprop="url" content="{{ term.link }}">
	<div itemprop="isPartOf" itemscope itemtype="http://schema.org/WebSite">
		<meta itemprop="url" content="{{ site.link }}">
		<meta itemprop="name" content="{{ site.name }}">
	</div>
	<div class="block-wrapper block-wrapper--bg-light-gray pv-2" style="background-color:{{ post.meta('header_color') }}">
		<div class="container">
			<div class="top-content-row">
				<div class="top-content-row__el">
					<h1 class="h1 xs-tac" itemprop="name">{{ post.meta('full_name') ? post.meta('full_name') : post.title }}</h1>

						{% include '/templates/parts/page-info.twig' with {'additional_class': 'page-info--border'} %}

					<div class="img-wrap-mobail"><img src="{{ Image(post.meta('image')).src }}" width="435px" height="303px"  alt="{{ Image(post.meta('image')).alt }}"></div>
					
					<div class="white-text taj mt-1">{{ fn('do_shortcode', post.descriptions) }}</div>
						{% if post.meta('descriptions_list') %}
						<ul class="arrow-list mt-2">
							{% for item in post.meta('descriptions_list') %}
								<li class="arrow-list__item">
									<p class="white-text">{{ item.item }}</p>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				
				</div>
				<div class="top-content-row__el top-content-row__el--xs-d-none-xl">
					<div class="img-wrap"><img src="{{ Image(post.meta('image')).src }}" width="{{ post.meta('image_width') }}" height="{{ post.meta('image_height') }}"  alt="{{ Image(post.meta('image')).alt }}"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="block-wrapper block-wrapper--bg-light-gray pv-2">
		<div class="container">
			{% if display_options != 'None' %}

				{% include '/templates/parts/rank-best-casinos.twig' with {'title': post.meta('casino_list_title'), 'anchor': post.meta('casino_list_anchor'), 'rank_best': post.meta('table_header').table_header, 'additional_class': 'block-wrapper--bg-light-gray' }  %}
				{{ fn('do_shortcode', shortcode_args) }}
			
			{% endif %}
		</div>
	</div>

	{% include '/templates/parts/additional-blocks.twig' %}

</main>

{% endblock %}